<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pile</title>
    <style>
    body {
        font-family: verdana, serif;
        font-size: 10pt;
    }
    </style>
</head>
<body>
<div id="app">
    <div v-for="person in people">
        {{person.name}} <span v-if="person.email">(person.email)</span>
    </div>
    <label for="newName">New person (or multiple people): </label><input id="newName">
    <label for="newEmail">Email(s):</label><input id="newEmail">
    <button>Add</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app = new Vue({
   el: "#app",
   data:{
       people: [],
       newName: null,
       newEmail: null,
   }
});
</script>
</body>
</html>